body {
	background-color: #f8f9fa;
	font-size: 16px;
}

.centered {
	text-align: center;
}

.navbar-brand img {
	width: 120px;
}

.promo {
	margin-top: 70px;
	margin-bottom: 70px;
}

.portfolio {
	margin-bottom: 70px;
}

.portfolio-img {
	height: 450px;
	width: 250px;
}

.social {
	margin-bottom: 30px;
}

.social__img {
	font-size: 40px;
	padding: 0 25px;
}